.certificateImageBackend{
    width: 200px;
    height: 110px;
    border-radius: 10px;
    
}
.certificateSectionBackend{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px;
    border-radius: 10px;
    margin: 2px;
}