.contact-body{
    background-color: white;
    color: black;
    padding: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact-container{
    display: grid;
    justify-content: center;
    background-color: lavender;
    padding: 30px 0px;
}
.signboard3 {
    width:100%;
    border: 3px solid black;
}

.contact-info{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 4px 0px;
    font-size: larger;
    font-weight: 500;
    border-radius: 7px;
}
.contact-info-mail{
    background-color: #1a1728;
    display: flex;
    justify-content: center;
    padding: 4px 0px;
    font-size: larger;
    font-weight: 500;
    border-radius: 7px;
}


.icon-section{
    border: 3px solid black;
    margin-top: 40px;
    padding: 50px 0px;
    
}

  .all-icons1{
    display: flex;
    justify-content:space-evenly;
    width:100%;
}
  .all-icons1 img{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-right: 10px;
    border: 3px solid black;
    padding: 2px;
    transition-duration: 1s;
} 

.all-icons2:hover{
    height: 60px;
    width: 60px;
} 
.all-icons3:hover{
    height: 60px;
    width: 60px;
} 
.all-icons4:hover{
    height: 60px;
    width: 60px;
} 
.all-icons5:hover{
    height: 60px;
    width: 60px;
} 
.all-icons6:hover{
    height: 60px;
    width: 60px;
} 
.ax img{
    background-color: rgb(92, 209, 92);
}
.mail-section{
    margin: 30px 40px;
    display: flex;
    justify-content: center;
}
.mail-header{
    margin-top: 100px;
}
.email-from{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.input1{
    color: black;
    font-weight: 400;
    font-size:medium;
    height: 40px;
    border-radius: 10px;
    border: 4px solid black;
    padding: 0px 10px;
    margin-bottom: 10px;
}
.input2{
    color: black;
    font-weight: 400;
    font-size: medium;
    height: 70px;
    border-radius: 10px;
    border: 4px solid black;
    padding: 0px 10px;
}
.label1{
    color: black;
    font-weight: 600;
}
.send-btn{
    background-color: black;
    width: 90px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    font-size: large;
    font-weight: 600;
    
}
.send-btn:hover{
    background-color:black;
}
/*  */
.main-is{
    border: 3px solid black;
    margin: 50px 0px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.i-s{ 
    height: 70px;
}

.z1{
    height: 50px;
    width: 50px;
    transition-duration: 1.5s;
    border: 3px solid black;
    border-radius: 10px;
    padding: 2px;
}
.z2{
    height: 50px;
    width: 50px;
    transition-duration: 1.5s;
    border: 3px solid black;
    border-radius: 10px;
    padding: 1px;
}
.z3{
    height: 50px;
    width: 50px;
    transition-duration: 1.5s;
    border: 3px solid black;
    border-radius: 10px;
    padding: 2px;
}
.z4{
    height: 50px;
    width: 50px;
    transition-duration: 1.5s;
    border: 3px solid black;
    border-radius: 10px;
    padding: 2px;
}
.z1:hover{
    height: 60px;
    width: 60px;
}
.z2:hover{
    height: 60px;
    width: 60px;
}
.z3:hover{
    height: 60px;
    width: 60px;
}
.z4:hover{
    height: 60px;
    width: 60px;
}
/*  */
.all-icon-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.item-n{
    height: 80px;
    width: 80px;
}

@media only screen and (max-width: 516px){
    .contact-body{
        padding: 10px;
    }
    .contact-container{
        display: grid;
        justify-content: center;
        background-color: lavender;
        padding: 20px 10px;
    }
    .signboard3 {
        width:100%;
        border: 3px solid black;
        
    }
    .mail-header{
        margin-top: 40px;
        padding: 0px 8px;
    }
    .main-is{
        border: 3px solid black;
        margin: 50px 0px;
        padding: 30px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;  
    }
}
@media only screen and (min-width: 517px)  and ( max-width: 900px){
    .main-is{
        border: 3px solid black;
        margin: 50px 0px;
        padding: 30px 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;  
    }
}

