.contact-body{
    background-color: white;
    color: black;
    padding: 50px;
    font-family: "Times New Roman", Times, serif;
}
.contact-container{
    display: grid;
    justify-content: center;
    background-color: lavender;
    padding: 30px 0px;
}
.signboard3 {
    width:100%;
    border: 3px solid black;
}
.contact-info{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 4px 0px;
    font-size: larger;
    font-weight: 500;
    border-radius: 7px;
}
.contact-info-mail{
    background-color: #1a1728;
    display: flex;
    justify-content: center;
    padding: 4px 0px;
    font-size: larger;
    font-weight: 500;
    border-radius: 7px;
}


.icon-section{
    border: 3px solid black;
    margin-top: 40px;
    padding: 50px 0px;
    
}
  .all-icons1{
    display: flex;
    justify-content:space-evenly;
    width:100%;
}
  .all-icons1 img{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
    border: 2px solid white;
} 
.all-icons2:hover{
    border: 3px solid #00e1ff;
    box-shadow: 0 0 30px rgb(144, 144, 235);
    background-color: #00e1ff;
    transition-duration: 2s;
} 
.all-icons3:hover{
    border: 3px solid red;
    box-shadow: 0 0 30px red;
    background-color:salmon;
    transition-duration: 2s;
} 
.all-icons4:hover{
    border: 3px solid orange;
    box-shadow: 0 0 30px orangered;
    background-color:darkred;
    transition-duration: 2s;
} 
.all-icons5:hover{
    border: 0px solid green;
    box-shadow: 0 0 30px rgb(186, 221, 133);
    background-color:yellow;
    transition-duration: 2s;
} 
.ax img{
    background-color: rgb(92, 209, 92);
}
.all-icons6:hover{
    border: 2px solid gold;
    box-shadow: 0 0 30px rgb(186, 221, 133);
    background-color:rgb(64, 212, 121);
    transition-duration: 2s;
} 

.mail-section{
    margin: 30px 40px;
    display: flex;
    justify-content: center;
}
.mail-header{
    margin-top: 100px;
}
.email-from{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.input1{
    color: black;
    font-weight: 400;
    font-size:medium;
    height: 40px;
    border-radius: 10px;
    border: 4px solid black;
    padding: 0px 10px;
    margin-bottom: 10px;
}
.input2{
    color: black;
    font-weight: 400;
    font-size: medium;
    height: 70px;
    border-radius: 10px;
    border: 4px solid black;
    padding: 0px 10px;
}
.label1{
    color: black;
    font-weight: 600;
}
.send-btn{
    background-color: black;
    width: 90px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    font-size: large;
    font-weight: 600;
    
}
.send-btn:hover{
    background-color:black;
}
@media only screen and (max-width: 516px){
    .contact-body{
        padding: 10px;
    }
    .contact-container{
        display: grid;
        justify-content: center;
        background-color: lavender;
        padding: 20px 10px;
    }
    .signboard3 {
        width:100%;
        border: 3px solid black;
        
    }
    .mail-header{
        margin-top: 40px;
        padding: 0px 8px;
    }
}


