.home-body{
   margin-bottom: 80px;
   /* font-family: Helvetica, Helvetica, sans-serif; */
   font-family: "Times New Roman", Times, serif;
}
.profile-photo{
    height: 400px;
    padding: 4px;
    border: 4px solid gray;
}
.display-flex{
    display: flex;
    justify-content: space-between;
    margin: 70px;
}
.s-text{
    font-size: 34px;
    font-style: italic;
    font-weight: 700;
    background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.display-flex1{
    padding: 0px 20px;
    margin-top: 0px;
    width: 800px;
    border: 8px solid gray;
    border-bottom-right-radius: 50px;
}
.section2{
    margin: 30px;
    
}
.h1{
    font-size: x-large;
    font-weight: 600;
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 10px;
    
}
.h3{
    font-size: x-large;
    font-weight: 600;
    color: black;
  
}
.p{
    font-size: larger;
    color: black;
}
.s2-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: white;
   
    /* border: 5px solid gray; */
}
.col{
    column-count: 2;
}
.sec-1{
    border: 6px solid black;
    background-color: white;  
}
.bio{
    color: black;
    
}
.intro{
    color: white;
    background-color: black;
    font-size: x-large;
    font-weight: 600;
    padding: 0px 8px;
    border-radius: 5px;
}
.cv-resume{
    display: flex;
    justify-content: space-evenly;
 }
@media only screen and (max-width: 516px){
    .display-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
    }
    .profile-photo{
        height: 200px;
        width: 185px;
        padding: 3px;
        border: 3px solid gray;
    }
    
    .intro{
        color: white;
        background-color: black;
        font-size: larger;
        font-weight: 700;
        padding: 0px 8px;
        border-radius: 5px;
        margin-top: 10px;
    }
    
    .s-text{
        font-size: 24px;
        font-style: italic;
        font-weight: 700;
        background: black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .display-flex1{
        padding: 12px 12px;
        width: 320px;
        border: 5px solid gray;
        border-bottom-right-radius: 40px;
        margin-top: 20px;
    }
    .h1{
        font-size: larger;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .h3{
        font-size: large;
        font-weight: 600;
      
    }
    .p{
        font-size: large;
    }
    .sec-1{
        border: 4px solid black;
        background-color: white;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .s2-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 15px;
        border-bottom-right-radius: 40px;
    }
}


/* 
.block {
	position: relative;
	background: white;
}

.block:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
    border-bottom-right-radius: 40px;
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
	filter: blur(8px);
    
} */