.body-cer{
    font-family: "Times New Roman", Times, serif;
}
.small-cer{
    color: blue;
}
.msc-containerS{
    column-count: 2;
    padding: 20px 30px;
    transition-duration: 2.5s;
    border: 4px solid gray;
    margin-top: 10px;
}
.t-header{
    font-size: x-large;
    font-weight: 700;
}
.t-body{
    font-weight: 500;
}
.msc-containerS:hover{
    padding: 20px 10px;
    background-color:lavender;
}
.msc-containerS img{
    width: 700px;
    height: 440px;
    font-size: 24px;
    border: 5px solid lightgray;
    padding: 2px;
    min-height: 3em;
    resize: both;
    background-color:lavender;
    
}

@media only screen and (max-width: 516px){
    .msc-containerS{
        margin-top: 15px;
        column-count: 1;
        padding: 10px;
    }
    .msc-containerS:hover{
        background-color:lavender;
        padding: 10px;
        transition-duration: 2s;
    }
    .msc-containerS img{
        width: 490px;
        height: 200px;
        border: 4px solid lightgray;
        min-height: 3em;
        resize: both;
        background-color:lavender;
        
    }
    .skill-body{
        background-color: #1a1728;
        color: white;
        padding: 20px 15px;
    }
    .t-header{
        font-size: larger;
        font-weight: 600;
    }
    .t-body{
        font-weight: 500;
    }
     
}