.footer-container{
    display: grid;
    justify-content: center;
    background-color: black;
    color: white;
}
.footer{
    background-color: black;
    color: white;
    padding:40px 120px;
    font-size: large;
    font-weight: 500;
    font-family: "Times New Roman", Times, serif;
    display: flex;
    justify-content: space-between;
}
.all-icons{
    display: flex;
    justify-content:center;
    
}
.all-icons img{
    height: 34px;
    width: 34px;
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
    border: 2px solid white;
    transition-duration: 1s;
}
.all-icons img:hover{
    border-radius: 50%;
    transition-duration: .5s;
}
@media only screen and (max-width: 516px){
    .footer-container{
        display: grid;
        justify-content: center;
        background-color: black;
        color: white;
    }
    .footer{
        background-color: black;
        color: white;
        padding: 10px;
        font-size: medium;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .all-icons img{
        margin-right: 5px;
    }
}


