.footer-container{
    display: grid;
    justify-content: center;
    background-color: black;
    color: white;
}
.footer{
    background-color: black;
    color: white;
    padding: 40px;
    font-size: large;
    font-weight: 500;
}
.all-icons{
    display: flex;
    justify-content:center;
    
}
.all-icons img{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
    border: 2px solid white;
}
.all-icons img:hover{
    border-radius: 17px;
    height: 34px;
    transition-duration: .5s;
}
@media only screen and (max-width: 516px){
    .footer-container{
        display: grid;
        justify-content: center;
        background-color: black;
        color: white;
    }
    .footer{
        background-color: black;
        color: white;
        padding: 10px;
        font-size: medium;
        font-weight: 400;
    }
    .all-icons img{
        margin-right: 5px;
    }
}


