.footer-container{
    display: grid;
    justify-content: center;
    background-color: black;
    color: white;
}
.footer{
    background-color: black;
    color: white;
    padding: 40px;
    font-size: large;
    font-weight: 500;
}
.all-icons{
    display: flex;
    justify-content:center;
    
}
.all-icons img{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
    border: 2px solid white;
}
.all-icons img:hover{
    border-radius: 17px;
}
@media only screen and (max-width: 516px){
    .footer-container{
        display: grid;
        justify-content: center;
        background-color: black;
        color: white;
    }
    .footer{
        background-color: black;
        color: white;
        padding: 10px;
        font-size: medium;
        font-weight: 400;
    }
    .all-icons img{
        margin-right: 5px;
    }
}

.img1{
    color:white;
    font-weight:bold;
    animation: a 2s infinite;
}
@keyframes a{ 
    50%{background-color:red;}
    75%{background-color:skyblue;}
}
.img2{
    color:white;
    font-weight:bold;
    animation: b 2s infinite;
}
@keyframes b{ 
    50%{background-color:brown;}
    75%{background-color:rgb(231, 160, 134);}
}
.img3{
    color:white;
    font-weight:bold;
    animation: c 2s infinite;
}
@keyframes c{ 
    50%{background-color:blue;}
    75%{background-color:black;}
}
.img4{
    color:white;
    font-weight:bold;
    animation: d 2s infinite;
}
@keyframes d{ 
    50%{background-color:red;}
    75%{background-color:lightpink;}
}
.img5{
    color:white;
    font-weight:bold;
    animation: e 2s infinite;
}
@keyframes e{ 
    50%{background-color:blue;}
    75%{background-color:black;}
}